#main {
    width: inherit;
    height: 700px;
    background: 
    linear-gradient(
        rgba(30, 49, 36, 0.7),
        rgba(30, 49, 36, 0.7)
    )
}

#title {
    width: inherit;
    display: flex;
    margin-bottom: -1%; 
    text-align: center;
}

#title p {
    font-size: 2em;
    color: #e1c47c;
    position: relative'
}