#header, #footer{
    padding-right: 0px;
    padding-left: 0px;
    background-color: #114340;
    width: inherit;
}

#headerContent {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0%;
    padding-bottom: 0%;    
}

#otherPages{
    width: inherit;
    height: inherit;
    list-style: none; 
    display: table;
    padding-top: 0%;  
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%; 
    text-align: center;
    margin-bottom: 0%;
}

#otherPages li {
    display: table-cell; 
    padding: 2% 1%;
    margin: 0%;
}

#otherPages li a {
    text-decoration: none;
    color: #e1c47c;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
    margin:inherit;
    /**
    * color: 
    * color: 
    *
    */
}

#otherPages li a:hover {
    color: #bd6951;
}

#otherPages li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #e1c47c;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#otherPages li a:hover:after { 
  width: 100%; 
  left: 0; 
}

#footer {
    position:relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#footer #copyright {
    width: inherit;
    color:#e1c47c;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

  /*
  }
@media only screen and (min-width: 800px) {
    #headerConten #otherPages {
        visibility: visible;
    }
}

@media only screen and (max-width: 799px) {
    #headerContent #otherPages {
        visibility: hidden;
    }
}
*/