#main {
    width: inherit;
    height: 100%;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        rgba(30, 49, 36, 0.7),
        rgba(30, 49, 36, 0.7)
    )
}

#title {
    padding-top: 4%;
    width: inherit;
    display: flex;
    margin-bottom: 3%; 
    text-align: center;
}

#title p {
    font-size: 2.5em;
    color: #e1c47c;
    position: relative;
}

#about {
    text-align: center;
    font-size: 1.25em;
    color: white;
    justify-content: center;
}

#about #welcomeImage {
    border-radius: 50px;
    width: 100%;
    height: 75%;
}

#techStack {
    padding-top: 5%;
    text-align: center;
}

#techStackTitle {
    font-size: 1.75em;
    color: #e1c47c;
    position: relative;
}

#techStackItems {
    list-style: none;
    font-size: 1.25em;
    color: white;
}

#techStackItems li {
    padding-top: 1%;
}

#myContributions {
    padding-top: 5%;
    text-align: center;
    justify-content: center;
}

#myContributionsTitle{
    font-size: 1.75em;
    color: #e1c47c;
    position: relative;
}

#myContributionsText{
    font-size: 1.25em;
    color: white;
}

#refactoredCode {
    padding-top: 5%;
}

#refactoredCodeTitle {
    font-size: 1.5em;
    color: #e1c47c;
    position: relative;
}

#refactoredCodeText {
    font-size: 1.1em;
    color: white;
}

#myItemsController {
    padding-top: 5%;
}

#items {
    border-radius: 10px;
    width: 100%;
}

#itemsControllerText {
    text-align: left;
    color: white;
    font-size: 1.1em;
}

#myReservationsController {
    padding-top: 5%;
}

#reservations {
    border-radius: 10px;
    width: 100%;
}

#itemsReservationsText {
    text-align: right;
    color: white;
    font-size: 1.1em;
}

#newCode {
    padding-top: 5%;
}

#newCodeTitle {
    font-size: 1.5em;
    color: #e1c47c;
    position: relative;
}

#newCodeText {
    font-size: 1.1em;
    color: white;
}

#messagesController {
    padding-top: 5%;
}

#messages {
    border-radius: 10px;
    width: 100%;
}

#messagesText {
    text-align: left;
    color: white;
    font-size: 1.1em;
}

#mySQL {
    padding-top: 5%;
}

#mySQLTitle {
    font-size: 1.5em;
    color: #e1c47c;
    position: relative;
}

#mySQLText {
    font-size: 1.1em;
    color: white;
}

#tests {
    padding-top: 5%;
    padding-bottom: 10%;
}

#testsTitle {
    font-size: 1.5em;
    color: #e1c47c;
    position: relative;
}

#testsText {
    font-size: 1.1em;
    color: white;
}

#testsPic {
    border-radius: 10px;
    width: 100%;
}