#header, #footer{
    padding-right: 0px;
    padding-left: 0px;
    background-color: #114340;
    width: inherit;
}

#headerContent {
    width: inherit;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0%;
    padding-bottom: 0%;    
}

#headerContent #otherPages {
    width: inherit;
}

#headerContent #otherPages{
    list-style: none; 
    display: table;
    padding-left: 0%;
    width: inherit;
    padding-top: 3%;  
    padding-left: 5%;
    padding-bottom: 1%; 
    text-align: center;
}

#otherPages li {
    display: table-cell; 
    padding: 0% 0%;
}

#otherPages li a {
    text-decoration: none;
    color: #e1c47c;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
    /**
    * color: 
    * color: #426b79
    *
    */
}

#otherPages li a:hover {
    color: #bd6951;
}

#otherPages li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #e1c47c;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#otherPages li a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media only screen and (min-width: 800px) {
    #headerConten #otherPages {
        visibility: visible;
    }
}

@media only screen and (max-width: 799px) {
    #headerContent #otherPages {
        visibility: hidden;
    }
}

#main {
    width: inherit;
    height: 100%;
    background-color: black;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.9), 
      rgba(0, 0, 0, 0.9)
    ),
    /* bottom, image */
    url("images/homePage.png");
}

#footer {
    position:absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#footer #copyright {
    width: inherit;
    color:#e1c47c;
    text-align: center;
    padding: 3%;
}


/* Code from W3schools.com */
#myBtn {
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: #fde6ab; /* Text color */
    background: none;
    cursor: pointer; /* Add a mouse pointer on hover */
  }
  
  #myBtn:hover {
    color: #114340; /* Add a dark-grey background on hover */
  }